{{! Previous/next page links - only displayed on page 2+ }}
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        {{> "meta"}}
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">... <fa class="fa fa-angle-double-right"></fa></i></a></p>
    </section>
</article>
<hr>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="text-center">
  {{pagination}}
</div>
